<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>{{nombre}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss(slide)">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<br>
  <ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
      
          <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>{{artista}}</ion-label>
          </ion-chip>
          <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>{{tipo}}</ion-label>
          </ion-chip>
      
          <ion-textarea 
                        class="ion-padding" 
                        auto-grow=true 
                        readonly="true" 
                        wrap="soft">
                        {{letra}}
          </ion-textarea>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
